[submodule "src/grr_hardware"]
	path = src/grr_hardware
	url = https://github.com/Gold-Rush-Robotics/grr_hardware.git
[submodule "IGVC_track_generator"]
	path = IGVC_track_generator
	url = https://github.com/Gold-Rush-Robotics/IGVC_track_generator.git
