[submodule "src/grr_hardware"]
	path = src/grr_hardware
	url = https://github.com/Gold-Rush-Robotics/grr_hardware.git
[submodule "IGVC_track_generator"]
	path = IGVC_track_generator
	url = https://github.com/Gold-Rush-Robotics/IGVC_track_generator.git
[submodule "isaac/exts"]
	path = isaac/exts
	url = https://github.com/stereolabs/zed-isaac-sim.git
[submodule "src/genesis_ros"]
	path = src/genesis_ros
	url = https://github.com/vybhav-ibr/genesis_ros.git
[submodule "src/zed-description"]
	path = src/zed-description
	url = https://github.com/stereolabs/zed-ros2-description.git
[submodule "src/sllidar_ros2"]
	path = src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
