<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="hardware_interface" default="IsaacDriveHardware" />


  <xacro:property name="hardware_interface_value" value="$(arg hardware_interface)" />
  
  <ros2_control name="igvc_test_bot" type="system">
    <hardware>
      <xacro:if value="${hardware_interface_value == 'CanInterface'}">
        <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
        <param name="can">can0</param>
      </xacro:if>
      <xacro:unless value="${hardware_interface_value == 'CanInterface'}">
        <plugin>grr_hardware/$(arg hardware_interface)</plugin>
      </xacro:unless>
    </hardware>
    <joint name="right_wheel_joint">
      <xacro:if value="${hardware_interface_value == 'CanInterface'}">
         <param name="node_id">0</param>
      </xacro:if>
      <command_interface name="velocity">
        <param name="min">-22</param>
        <param name="max">22</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="left_wheel_joint">
      <xacro:if value="${hardware_interface_value == 'CanInterface'}">
         <param name="node_id">3</param>
      </xacro:if>
      <command_interface name="velocity">
        <param name="min">-22</param>
        <param name="max">22</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

</robot>
