controller_server:
  ros__parameters:
    controller_frequency: 20.0
    min_x_velocity_threshold: 0.5
    min_y_velocity_threshold: 0.0
    min_theta_velocity_threshold: 0.05
    progress_checker_plugins: ["progress_checker"] # progress_checker_plugin: "progress_checker" For Humble and older
    goal_checker_plugins: ["goal_checker"]
    controller_plugins: ["FollowPath"]

    progress_checker:
      plugin: "nav2_controller::SimpleProgressChecker"
      required_movement_radius: 0.5
      movement_time_allowance: 10.0
    goal_checker:
      plugin: "nav2_controller::SimpleGoalChecker"
      xy_goal_tolerance: 0.25
      yaw_goal_tolerance: 0.25
      stateful: True
    FollowPath:
      plugin: "nav2_regulated_pure_pursuit_controller::RegulatedPurePursuitController"
      max_linear_vel: 0.5
      min_linear_vel: -0.5
      max_angular_vel: 2.5
      min_angular_vel: -2.5
      max_linear_accel: 2.5
      max_linear_decel: -2.5
      max_angular_accel: 3.2
      max_angular_decel: -3.2
      lookahead_dist: 0.6
      min_lookahead_dist: 0.3
      max_lookahead_dist: 0.9
      lookahead_time: 1.5
      rotate_to_heading_angular_vel: 1.8
      use_velocity_scaled_lookahead_dist: false
      min_approach_linear_velocity: 0.05
      approach_velocity_scaling_dist: 0.6
      use_collision_detection: true
      max_allowed_time_to_collision_up_to_carrot: 1.0
      use_regulated_linear_velocity_scaling: true
      use_fixed_curvature_lookahead: false
      curvature_lookahead_dist: 0.25
      use_cost_regulated_linear_velocity_scaling: false
      cost_scaling_dist: 0.3
      cost_scaling_gain: 1.0
      regulated_linear_scaling_min_radius: 0.9
      regulated_linear_scaling_min_speed: 0.25
      use_rotate_to_heading: true
      allow_reversing: false
      rotate_to_heading_min_angle: 0.785
      min_distance_to_obstacle: 0.0
      stateful: true
      use_dynamic_window: false
    collision_monitor:
      ros__parameters:
        base_frame_id: "base_link"
        odom_frame_id: "odom"
        cmd_vel_in_topic: "cmd_vel_smoothed"
        cmd_vel_out_topic: "cmd_vel"
        state_topic: "collision_monitor_state"
        transform_tolerance: 0.2
        source_timeout: 1.0
        base_shift_correction: True
        stop_pub_timeout: 2.0
        # Polygons represent areas to monitor for collisions
        polygons: ["FootprintApproach"]
        FootprintApproach:
          type: "approach"
          action_type: "approach"
          footprint_topic: "/local_costmap/published_footprint"
          time_before_collision: 1.2
          simulation_time_step: 0.1
          min_points: 6
          visualize: False
          enabled: True
        # Observation sources (e.g., laser scanner, point cloud)
        observation_sources: ["scan"]
        scan:
          type: "scan"
          topic: "/scan"
          min_height: 0.05
          max_height: 0.5
          enabled: True

    velocity_smoother:
      ros__parameters:
        smoothing_frequency: 20.0
        scale_velocities: False
        feedback: "OPEN_LOOP"
        max_velocity: [0.5, 0.0, 2.5]
        min_velocity: [-0.5, 0.0, -2.5]
        max_accel: [2.5, 0.0, 3.2]
        max_decel: [-2.5, 0.0, -3.2]
        odom_topic: "odom"
        odom_duration: 0.1
        deadband_velocity: [0.0, 0.0, 0.0]
        velocity_timeout: 1.0